@font-face {
    font-family: 'Nexa_Free_Bold';
    src: url("assets/Nexa_Free_Bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

body, h2{
	font-family: Sunflower, sans-serif;
	font-weight: 300;
}
.container{
	width: 85%;
	margin: 0 auto;
}
.container_home{
	margin: 0 auto;
	background-color: #EF5B7D;
	height: 300px;
	text-align:	center;
	line-height: 20px;
	padding-top: 150px;
}
.container_about{
	width: 50%;
	margin: 0 auto;
	height: 100px;
	text-align:	center;
}
.container_aboutCourses{
	text-align: left;
}

h1{
	color: white;
	font-size: 60px;
}


header{
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
}
nav {
	float: right;
}

nav ul{
	margin: 0;
	padding-top: 60px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 12px;
	padding-top: 0px;

	position: relative;
}
nav li a{
	color: #EF5B7D;
	text-decoration: none;
	text-transform: uppercase;
}
.unselected {
	color: grey;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1.5px solid transparent;
	transition: border-bottom-color 250ms;
}

.unselected:hover{
	color: black;
	border-bottom-color: black;
}

.container_intro{
	width: 50%;
	margin: 0 auto;
	padding-top: 200px;
}

.container_list{
	float: none;
	text-align: center;
}

.container_list ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	float: none;
}

li{
	float: left;
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 12px;
}
li a{
	color: #EF5B7D;
	text-decoration: none;
	text-transform: uppercase;
}

.courses{
	float: none;
	font-size: 14px;
}
#debono, #rollercoaster, #reframe, #productdesign, #digdreams, #impdart{
	width: 85%;
	margin: 0 auto;
	font-size: 25px;
	padding-top: 100px;
	text-transform: uppercase;
}
.project_desc{
	width: 85%;
	margin: 0 auto;
}

.interviews{
	padding-left: 50px;
	margin: 0 auto;
}

.container_video{
	text-align: center;
}

.container_featuredProjects{
	width: 85%;
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
}

.container_featuredProjects img{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}

footer{
	position: relative;
	text-align: center;
	color: #EF5B7D;
}
